<li>
  <div class="name-field">Почта</div>
  <div class="field">pochta@yandex.ru</div>
</li>
<li>
  <div class="name-field">Логин</div>
  <div class="field">ivanivanov</div>
</li>
<li>
  <div class="name-field">Имя</div>
  <div class="field">Иван</div>
</li>
<li>
  <div class="name-field">Фамилия</div>
  <div class="field">Иванов</div>
</li>
<li>
  <div class="name-field">Имя в чате</div>
  <div class="field">Иван</div>
</li>
<li>
  <div class="name-field">Телефон</div>
  <div class="field">+7 (999) 999-99-99</div>
</li>