<div class="messenger">
    <div class="left">
        <div class="sticky">
        <div class="profile">
         {{{ linkProfile }}}
        </div>

        <div class="search">
            <input type="search" name="" id="" placeholder="Поиск">
        </div>
        </div>
        
        <ul class="contacts-list">
              {{{ contactItem }}}  
              {{{ contactItem }}}  
              {{{ contactItem }}} 
        </ul>
    </div>
    <div class="right">
        <div class="info">Выберите чат чтобы отправить сообщение</div>
    </div>
</div>    
           