<div class="messenger">
    <div class="left">
        <div class="sticky">
        <div class="profile">
            <a href="/profile">Профиль ></a>
        </div>

        <div class="search">
            <input type="search" name="" id="" placeholder="Поиск">
        </div>
        </div>
        
        <ul class="contacts-list">
           
            <li class="contacts-item">
                <div class="avatar">
                 <a href="/chat">  <img src="/static/avatar.svg" alt="Ава"> </a>  
                </div>
                <div class="contacts-content">
                    <div class="contacts-info">
                        <div class="chat-name ">Андрей</div>
                        <div class="chat-time">10:49</div>
                    </div>
                    <div class="contacts-texts">
                        <p class="text-truncate">Сообщение</p>
                        <div class="badge">2</div>
                    </div>
                </div> 
            </li>
             

                <li class="contacts-item">
                <div class="avatar">
                    <a href="/chat">  <img src="/static/avatar.svg" alt="Ава"> </a>  
                </div>
                <div class="contacts-content">
                    <div class="contacts-info">
                        <div class="chat-name ">Андрей</div>
                        <div class="chat-time">10:49</div>
                    </div>
                    <div class="contacts-texts">
                        <p class="text-truncate">Сообщение</p>
                        <div class="badge">2</div>
                    </div>
                </div>  
            </li>

            
        </ul>
    </div>
    <div class="right">
        <div class="info">Выберите чат чтобы отправить сообщение</div>
    </div>
</div>    
           