<div class="main-layout">
    <div class="error">
        <div class="title">404</div>
        <div class="info">Не туда попали</div>
        <p><a href="/">Назад к чатам</a></p>
    </div>
</div>

  