<div class="messenger">
  <div class="left">
    <div class="sticky">
      <div class="profile">
        {{{linkProfile}}}
      </div>

      <div class="search">
        <input type="search" name="" id="" value="Поиск" />
      </div>
    </div>

    <ul class="contacts-list">
      {{{contactItem}}}
      {{{contactItem}}}
      {{{contactItem}}}
    </ul>
  </div>
  <div class="right">
    <div class="chat-header">

      <div class="chat-name">
        <div class="avatar">
          <a href="#"><img src="/static/avatar.svg" alt="Профиль" /></a>
        </div>
        <div class="name">Вадим</div>
        <div class="settings">
          <img src="/static/settings.svg" alt="Дополнительно" />
        </div>
      </div>

      <div class="nav">
        <div class="nav-item">
        </div>
      </div>
    </div>

    <div class="chat-content">
      <div class="container">
        <div class="message-d">
          <div class="message-data"><time>19 июня</time></div>
          <div class="message">
            <div class="message-wrapper">
              <div class="message-content">
                <span>Привет! Смотри, тут всплыл интересный кусок лунной
                  космической истории — НАСА в какой-то момент попросила
                  Хассельблад адаптировать модель SWC для полетов на Луну.
                  Сейчас мы все знаем что астронавты летали с моделью 500 EL — и
                  к слову говоря, все тушки этих камер все еще находятся на
                  поверхности Луны, так как астронавты с собой забрали только
                  кассеты с пленкой. Хассельблад в итоге адаптировал SWC для
                  космоса, но что-то пошло не так и на ракету они так никогда и
                  не попали. Всего их было произведено 25 штук, одну из них
                  недавно продали на аукционе за 45000 евро.</span>
                <div class="data">
                  <time>11:56</time>
                </div>
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message-wrapper">
              <div class="message-content img">
                <span><img src="/static/message.jpg" alt="Сообщение" /></span>
                <div class="data">
                  <time>11:56</time>
                </div>
              </div>
            </div>
          </div>
          <div class="message self">
            <div class="message-wrapper">
              <div class="message-content">
                <span>Круто!</span>
                <div class="data">
                  <time>11:56</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-footer">
      <div class="att">
        <img src="/static/att.svg" alt="Прикрепить" />
      </div>
      <div class="message-inp">
        <input type="text" placeholder="Сообщение" />
      </div>
      <div class="send">
        <img src="/static/send.svg" alt="Отправить" />
      </div>
    </div>

  </div>
</div>