
				<div class="main-layout">
					<div class="profile">
						<div class="navigation">
								<a href="/profile"><img src="/static/left.svg" alt="Назад"></a>
						</div>
						<div class="page">
								<div class="avatar">
									<img src="/static/ava.svg" alt="">
									<div class="name">Иван</div>
								</div>

								<div class="info">
								<form class="edit-profile" action="">
									<ul>
										<li>
											<label for="email" class="name-field">Почта</label>
											<input type="text" value="pochta@yandex.ru" name="email" id="email" >
										</li>
										<li>
											<label for="login" class="name-field">Логин</label>
											<input type="text" value="ivanivanov" name="login" id="login">
										</li>
										<li>
											<label for="first_name" class="name-field">Имя</label>
											<input type="text" value="Иван" name="first_name" id="first_name">
										
										</li>
										<li>
											<label for="second_name" class="name-field">Фамилия</label>
											<input type="text" value="Иванов" name="second_name" id="second_name">
										</li>
										<li>
											<label for="display_name" class="name-field">Имя в чате</label>
											<input type="text" name="display_name" value="Иван" id="display_name">
										</li>
										<li>
											<label for="phone" class="name-field">Телефон</label>
											<input type="text" value="+7 (999) 999-99-99" name="phone" id="phone">
										</li>
									</ul>

									<div class="edit">
										<button> Сохранить </button>
									</div>
									</form>
								</div>

						</div>
					</div>    
        