<div class="main-layout">
  <div class="profile">
    <div class="navigation">
      <a href="/profile"><img src="/static/left.svg" alt="Назад" /></a>
    </div>
    <div class="page">
      <div class="avatar">
        <img src="/static/ava.svg" alt="" />
      </div>

      <div class="info">
        <form class="edit-password" action="">
          <ul>
            <li>
              <label for="" class="name-field">Старый пароль</label>
              <input type="password" placeholder="12345" id="" />
            </li>
            <li>
              <label for="" class="name-field">Новый пароль</label>
              <input type="password" placeholder="12345" id="" />
            </li>
            <li>
              <label for="" class="name-field">Повторите новый пароль</label>
              <input type="password" placeholder="123456" id="" />
            </li>
          </ul>

          <div class="edit">
            <button>Сохранить</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>