  <li class="contacts-item">
                <div class="avatar">
                 <a href="/chat">  <img src="/static/avatar.svg" alt="Ава"> </a>  
                </div>
                <div class="contacts-content">
                    <div class="contacts-info">
                        <div class="chat-name ">Андрей</div>
                        <div class="chat-time">10:49</div>
                    </div>
                    <div class="contacts-texts">
                        <p class="text-truncate">Сообщение</p>
                        <div class="badge">2</div>
                    </div>
                </div> 
            </li>