<div class="main-layout">
  <div class="profile">
    <div class="navigation">
      <a href="/">
     <img src="/static/left.svg" alt="Назад" />
      </a>
    </div>
    <div class="page">
      <div class="avatar">
        <img src="/static/ava.svg" alt="Ава" />
        <div class="name">Иван</div>
      </div>

      <div class="info">
        <ul>
          <li>
            <div class="name-field">Почта</div>
            <div class="field">pochta@yandex.ru</div>
          </li>
          <li>
            <div class="name-field">Логин</div>
            <div class="field">ivanivanov</div>
          </li>
          <li>
            <div class="name-field">Имя</div>
            <div class="field">Иван</div>
          </li>
          <li>
            <div class="name-field">Фамилия</div>
            <div class="field">Иванов</div>
          </li>
          <li>
            <div class="name-field">Имя в чате</div>
            <div class="field">Иван</div>
          </li>
          <li>
            <div class="name-field">Телефон</div>
            <div class="field">+7 (999) 999-99-99</div>
          </li>
        </ul>

        <div class="edit">
          <a href="profile/edit">Изменить данные</a>
          <a href="profile/edit/pass">Изменить пароль</a>
          <a class="red" href="/login">Выйти</a>
        </div>
      </div>

    </div>
  </div>
</div>